<!-- sign up -->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <div class="row">
      <strong>Username: </strong>
      <input type="text" ng-model="vm.newUser.username" class="form-control">
    </div>

    <div class="row">
      <strong>Password: {{vm.newUser.password.length}}</strong>
      <input type="password" ng-model="vm.newUser.password" class="form-control">
    </div>

    <button type="button" ng-click="vm.createUser()">Create User</button>
  </div>
</div>
</div>
